:root {
    --color_main:rgb(135, 181, 196);
    --color_main_light:rgba(135, 181, 196,0.3);
    --color_background:rgb(245,246,247);
    --color_window:rgb(254,254,254);
    --color_column:rgb(254,254,254);
    --color_floatButton:rgb(250,250,250);
    --color_black:rgb(115,117,131);
    --color_black_normal:rgb(166,166,166);

    --size_leftColumn:calc(14vw);
    --size_mainContent:calc(64vw);
    --size_rightColumn:calc(22vw);
    --size_topColumn:32px;

    --cursor_normal:url("../resources/cursor/Normal.cur");
    --cursor_pointer:url("../resources/cursor/Link.cur");
}


@font-face {
    font-family: "ProFontWindows";
    src: url("../resources/ProFontWindows.ttf");
}

@keyframes floatButtonTip {0% {opacity:0;transform: translate(100%,0);}}
@keyframes twinkleAni{50% {color:var(--color_main_light);};}

::-webkit-scrollbar {display: none;}
body{cursor: var(--cursor_normal),default;}
button,button>*{cursor: var(--cursor_pointer),pointer;}


html {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: var(--color_background);
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

div#leftColumn {
    background-color: var(--color_column);
    position: fixed;
    width: var(--size_leftColumn);
    height: 100vh;
    margin: 0;
    padding: 1px 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all .5s ease;
}

#leftColumn>a {
    display:block;
    margin:10px 0px 15px 20px;
    font-size: 13px;
    text-decoration: none;
}

b#logo {
    color:var(--color_main);
    display: block;
    text-align: center;
    font-family: "ProFontWindows";
    font-size: 25px;
    letter-spacing: 2px;
    margin:25px auto;
}

.smallTitle {
    display: block;
    color: var(--color_black);
    margin: 22px 5px 10px 5px;
}

.aColumnButton {
    background-color: var(--color_column);
    display: flex;
    justify-content: left;
    width: 100%;
    height: auto;
    margin: 20px 0px;
    padding:3px 20px;
    font-size: 15px;
    outline: none;
    border: 0px;
    border-radius: 10%;
}

.aColumnButton:hover {
    background-color: var(--color_background);
}

.aColumnButton>img {
    height: 20px;
    margin-right: 4px;
}

.clickableText{color:var(--color_black_normal);}
.clickableText:hover{color:var(--color_main);cursor: var(--cursor_pointer),pointer;}

div#topColumn{
    background-color: var(--color_column);
    position: fixed;
    left: var(--size_leftColumn);
    width: var(--size_mainContent);
    height: var(--size_topColumn);
    box-shadow: 0 0 5px 1px var(--color_column);
}

div#rightColumn {
    background-color: var(--color_column);
    position:fixed;
    left:calc(100% - var(--size_rightColumn));
    width: var(--size_rightColumn);
    height: 100%;
    margin: 0;
    padding: 1px 10px;
    overflow-y: scroll;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: all .7s ease;
}

div#mainContent{
    position: absolute;
    left:var(--size_leftColumn);
    top:var(--size_topColumn);
    width: var(--size_mainContent);
    height: 100%;
}

div.window {
    background-color: var(--color_window);
    display:block;
    position: relative;
    width: calc(100%  - 40px);
    height: auto;
    margin: 2% auto 2% auto;
    padding: 1px;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .7s ease;
}
div.window:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: all .7s ease;
}

div#personalIntroduce{
    height: 35vh;
}

img.background{
    opacity: 75%;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 85%;

    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    object-fit: cover;
    transition: all 2s ease;
}

img.background:hover{
    filter: blur(4px);
    transition: all 2s ease;
}

img.headIcon{
    display: inline-block;
    height: 90%;
    width: auto;
    max-height: 80px;
    margin: 1% 2%;
    border-radius: 60%;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 2px 4px;
}

b.name{
    color:aliceblue;
    display: inline-block;
    height: 100%;
    font-size: 1.4em;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2);
}

p.diffTime{
    color:aliceblue;
    display: block;
    font-size: 0.8em;
    margin: 1px;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2);
}

b.name>b.tag{
    background-color:var(--color_main);    
    display:inline;
    position: relative;
    top:-3%;
    padding: 1px 2px;
    font-size: 0.4em;
    border-radius: 10%;
}

p.sign{
    color:aliceblue;
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
    margin: 0;
    font-size: 1em;
    justify-content: center;
    text-align: justify;
    align-items: center;
    box-sizing: border-box;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2)
}

button.smallButton {
    width: 15px;
    height: 15px;
    margin: 10px 4px;
    border-radius: 65%;
    border-width: 0px;
}
button.red{background-color: rgb(254, 118, 110);}
button.yellow{background-color: rgb(254,198, 76);}
button.green{background-color: rgb(70, 208, 91);}
div.smallButtons {position:absolute;}

b#windowTitle {
    color: var(--color_main);
    display: -webkit-box;
    text-align: center;
    width: 70%;
    margin: 10px auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 17px;
    word-spacing: 1px;
    letter-spacing: 1px;
}
div#floatButtons{
    position: fixed;
    bottom:5vh;
    right:1vw;
    padding: 1vw;
    z-index: 2;
}
button.floatButton{
    background-color: var(--color_floatButton);
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
    border:2px solid var(--color_background);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    animation: floatButtonTip .7s;
}
button.floatButton>img{
    opacity: 40%;
    width: 70%;
    height: auto;
}
button.floatButton>b.tip{
    background-color: var(--color_window);
    color:var(--color_main);
    position: absolute;
    display: none;
    left: -120%;
    top: 30%;
    height:50%;
    padding: 2px 5px;
    font-size: 15px;
    border: 2px solid var(--color_main);
    border-radius: 2px;
    border-bottom-right-radius: 10px;
    animation: floatButtonTip .7s;
}

button.floatButton:hover .tip{display:block;}
button.floatButton:hover img{opacity: 60%;}

div#articleContainer{
    display: grid;
    position: relative;
    margin: 10px;
    grid-template-rows: repeat(auto,minmax(300px,1fr));
    grid-template-columns: repeat(3,33.3%);
}

div.articleDisplay{
    min-height: 100px;
    margin: 3%;
    border: var(--color_main_light) solid 4px;
    border-radius: 5px;
    transition: all .7s;
    cursor: var(--cursor_pointer),pointer;
}

div.articleDisplay:hover{transition: all .7s;}

div.articleDisplay>b.title{
    color:var(--color_black);
    display:-webkit-box;
    margin: 12px;
    font-size:14px;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: var(--cursor_pointer),pointer;
}

div.articleDisplay>p.article{
    color:var(--color_black_normal);
    display:-webkit-box;
    margin: 12px;
    font-size:10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
    cursor: var(--cursor_pointer),pointer;
}
div.articleDisplay>b.title:hover{color:var(--color_main);}
div.articleDisplay:hover .title{color:var(--color_main);}

div#pageSelecter{
    display: flex;
    justify-content: center;
    vertical-align:middle;
    width: 100%;
    height: auto;
    padding: 10px 10%;
    box-sizing: border-box;
}

button.page{
    background-color: var(--color_window);
    color:var(--color_main);
    height:40px;
    padding: auto 5px;
    margin: auto 5px;
    font-size: 15px;
    border: 2px solid var(--color_main);
    border-radius: 4px;
    transition: all .3s ease;
}
button.page:hover{background-color: var(--color_main);color:var(--color_window);transition: all .3s ease;}

div#navigation>b.title{
    color:var(--color_black);
    display:-webkit-box;
    margin: 0px 7% 10px 10%;
    padding-left:10px;
    font-size:13px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    border-radius: 2px;
    border-left: 4px solid var(--color_main_light);
    cursor: var(--cursor_pointer),pointer;
}



div#article{
    display: none;
    font-size: 16px;
    color:var(--color_black);
    padding: 15px 30px;
    box-sizing: border-box;
}
red{color: rgb(254, 118, 110);}
yellow{color: rgb(254,198, 76);}
green{color: rgb(70, 208, 91);}

#article>pre>code{
    display: block;
    padding: 5px;
    border-radius:10px;
    box-sizing: border-box;
    border: 3px solid var(--color_main_light);
}
#article>p>code{
    display: inline-block;
    padding: 2px;
    border-radius:4px;
    box-sizing: border-box;
    border: 3px solid var(--color_main_light);
}
blockquote{
    color:var(--color_black);
    margin-left: 2px;
    padding-left:5px;
    border-radius: 2px;
    border-left: 4px solid var(--color_main_light);
}

hr{border-color:var(--color_main_light);}

#article>p>a{
    color:var(--color_main);
}
#article>p>a:hover{
    text-decoration:underline 4px solid var(--color_main_light);
}

@media screen and (max-width:1030px) {
    :root{--size_leftColumn:calc(8vw);--size_mainContent:calc(66vw);--size_rightColumn:calc(26vw);}
    b#logo{visibility: hidden;}
    #leftColumn{padding: 1px 3px;}
    #leftColumn>.smallTitle{text-align: center;}
    #leftColumn>a{display: none;}
    .aColumnButton{display: block;font-size: 13px;padding: 0;}
    .aColumnButton>img{display:block;height:30px;padding: 0;margin:2px auto;}
    div#articleContainer{grid-template-columns: repeat(2,50%);}
}

@media screen and (max-width:780px) {
    :root{--size_leftColumn:0;--size_mainContent:calc(66vw);--size_rightColumn:calc(34vw);--size_topColumn:0;}
    .aColumnButton{display:inline-block;}
    #topColumn{display: none;}
    div#leftColumn{display: inline-flex;width: 66%;z-index: 1;height: auto;bottom:0;left:0;}
    .aColumnButton{margin: 2px;font-size: 12px;}
    .aColumnButton>img{height: 20px;}
    div#leftColumn>b{display: none;}
    div#articleContainer{grid-template-columns: repeat(1,100%);}
}

@media screen and (max-width:650px) {
    :root{--size_mainContent:calc(100vw);--size_rightColumn:0;}
    div#rightColumn{display:none;}
    div#leftColumn{width: 100vw;}
    div#articleContainer{grid-template-columns: repeat(2,50%);}
}

@media screen and (max-width:500px) {
    div.smallButtons{display: none;}
    .aColumnButton{font-size: 0.7em;}
    b.name{font-size: 1.2em;}
    b.name>b.tag{font-size: 0.2em;}
    div#personalIntroduce{height: 25vh;}
    p.sign{font-size: 0.9em;}
    b#windowTitle{font-size: 0.8em;}
    div#article{font-size: 0.7em;margin: 0;}
}