:root {
    --color_main:rgb(135, 181, 196);
    --color_background:rgb(245,246,247);
    --color_window:rgb(254,254,254);
    --color_column:rgb(254,254,254);
    --color_floatButton:rgb(250,250,250);
    --color_black:rgb(115,117,131);
    --color_black_normal:rgb(166,166,166);

    --size_leftColumn:calc(14vw);
    --size_mainContent:calc(64vw);
    --size_rightColumn:calc(22vw);
    --size_topColumn:32px;
}


@font-face {
    font-family: "ProFontWindows";
    src: url("../resources/ProFontWindows.ttf");
}

@keyframes floatButtonTip {0% {opacity:0;transform: translate(100%,0);}}

::-webkit-scrollbar {display: none;}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden ;
}

body{
    background-color: var(--color_background);
    height: 100%;
    min-height: 600px;
    min-width: 600px;
    margin: 0;
    padding: 0;
}

div#leftColumn {
    background-color: var(--color_column);
    position: fixed;
    width: var(--size_leftColumn);
    height: 100%;
    margin: 0;
    padding: 1px 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all .5s ease;
}

#leftColumn>a {
    display:block;
    margin:10px 0px 15px 20px;
    font-size: 13px;
    text-decoration: none;
}

b#logo {
    color:var(--color_main);
    display: block;
    text-align: center;
    font-family: "ProFontWindows";
    font-size: 25px;
    letter-spacing: 2px;
    margin:25px auto;
}

.smallTitle {
    display: block;
    color: var(--color_black);
    margin: 22px 5px;
}

.aColumnButton {
    background-color: var(--color_column);
    display: flex;
    justify-content: left;
    width: 100%;
    height: auto;
    margin: 20px 0px;
    padding:3px 20px;
    font-size: 15px;
    outline: none;
    border: 0px;
}

.aColumnButton:hover {
    background-color: var(--color_background);
}

.aColumnButton>img {
    height: 20px;
    margin-right: 4px;
}

.clickableText{color:var(--color_black_normal);}
.clickableText:hover{color:var(--color_main);cursor:pointer;}

div#topColumn{
    background-color: var(--color_column);
    position: fixed;
    left: var(--size_leftColumn);
    width: var(--size_mainContent);
    height: var(--size_topColumn);
    box-shadow: 0 0 5px 1px var(--color_column);
}

div#rightColumn {
    background-color: var(--color_column);
    position:fixed;
    left:calc(100% - var(--size_rightColumn));
    width: var(--size_rightColumn);
    height: 100%;
    margin: 0;
    padding: 1px 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: all .7s ease;
}

div#mainContent{
    position: absolute;
    left:var(--size_leftColumn);
    top:var(--size_topColumn);
    width: var(--size_mainContent);
    height: 100%;
    
}

div.window {
    background-color: var(--color_window);
    display:block;
    position: relative;
    width: calc(100%  - 40px);
    height: auto;
    margin: 2% auto 2% auto;
    padding: 1px;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .7s ease;
}
div.window:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: all .7s ease;
}

#personalIntroduce>img.background{
    opacity: 75%;
    display: block;
    position: relative;
    width: 100%;
    height: calc(35vh);

    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    object-fit: cover;
    transition: all 2s ease;
}
#personalIntroduce>img.background:hover{
    filter: blur(4px);
    transition: all 2s ease;
}

#personalIntroduce>img.headIcon{
    display: block;
    position:absolute;
    bottom: 15%;
    width: 75px;
    height: auto;
    margin: 20px;
    border-radius: 60%;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 2px 4px;
}
#personalIntroduce>b.name{
    color:aliceblue;
    display: block;
    position:absolute;
    bottom: 15%;
    left: 115px;
    height: 80px;
    font-size: 25px;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2);
}

#personalIntroduce>p.sign{
    color:aliceblue;
    display: block;
    position: absolute;
    width: 100%;
    top:25%;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2)
}

button.smallButton {
    width: 15px;
    height: 15px;
    margin: 10px 4px;
    border-radius: 65%;
    border-width: 0px;
}
button.red{background-color: rgb(254, 118, 110);}
button.yellow{background-color: rgb(254,198, 76);}
button.green{background-color: rgb(70, 208, 91);}
div.smallButtons {position:absolute;}

b#windowTitle {
    color: var(--color_black);
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 10px;
    font-size: 17px;
    word-spacing: 2px;
}
button.floatButton{
    background-color: var(--color_floatButton);
    position: fixed;
    right: 0;
    bottom: 50px;
    width: 50px;
    height: 50px;
    margin: 30px;
    border-radius: 50%;
    border:2px solid var(--color_background);
    z-index: 2;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    animation: floatButtonTip .7s;
}
button.floatButton>img{
    opacity: 40%;
    width: 70%;
    height: auto;
}
button.floatButton>b.tip{
    background-color: var(--color_window);
    color:var(--color_main);
    position: absolute;
    display: none;
    left: -120%;
    top: 30%;
    height:50%;
    padding: 2px 5px;
    font-size: 15px;
    border: 2px solid var(--color_main);
    border-radius: 2px;
    border-bottom-right-radius: 10px;
    animation: floatButtonTip .7s;
}

button.floatButton:hover .tip{display:block;}
button.floatButton:hover img{opacity: 60%;}

@media screen and (max-width:1030px) {
    :root{--size_leftColumn:calc(8vw);--size_mainContent:calc(66vw);--size_rightColumn:calc(26vw);}
    b#logo{visibility: hidden;}
    #leftColumn{padding: 1px 3px;}
    #leftColumn>.smallTitle{text-align: center;}
    #leftColumn>a{display: none;}
    .aColumnButton{display: block;font-size: 13px;padding: 0;}
    .aColumnButton>img{display:block;height:30px;padding: 0;margin:2px auto;}
}

@media screen and (max-width:780px) {
    :root{--size_leftColumn:0;--size_mainContent:calc(66vw);--size_rightColumn:calc(34vw);--size_topColumn:0;}
    .aColumnButton{display:inline-block;}
    #topColumn{display: none;}
    div#leftColumn{display: inline-flex;width: 66%;z-index: 1;height: auto;bottom:0;left:0;}
    .aColumnButton{margin: 2px;font-size: 10px;}
    .aColumnButton>img{height: 15px;}
    div#leftColumn>b{display: none;}
}

@media screen and (max-width:650px) {
    :root{--size_mainContent:calc(100vw);--size_rightColumn:0;}
    div#rightColumn{display:none;}
    div#leftColumn{width: 100%;}
}