:root {
    --color_main:rgb(135, 181, 196);
    --color_background:rgb(226, 226, 226);
    --color_window:rgb(236, 241, 240);

    --window_width:30%;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden ;
    overflow-y: hidden ;
}

body{
    background-color: var(--color_background);
    height: 100%;
    min-height: 700px;
    min-width: 700px;
    margin: 0;
    padding: 0;
}

div#header {
    background-color: var(--color_main);
    width: 100%;
    max-height: 30%;
    margin:0;
    padding: 30px  0;
    box-shadow: 0 0 12px 4px rgb(185, 185, 185);
}

img#logo {
    display: block;
    height: 100px;
    width: auto;
    margin:10px auto;
    border-radius: 30% ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

label#title {
    display: block;
    text-align: center;    
    width: 100%;
    font-size: 30px;
}

div#window {
    background-color: var(--color_window);
    display:block;
    position: relative;
    width: var(--window_width);
    height: auto;
    margin: 3% auto 1% auto;
    padding: 10px 10px 40px 10px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .7s ease;
    animation: window_enter 1.3s;
}
div#window:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: all .7s ease;
}

button.smallButton {
    width: 15px;
    height: 15px;
    margin-right: 1px;
    border-radius: 65%;
    border-width: 0px;
}
button.red{background-color: rgb(254, 118, 110);}
button.yellow{background-color: rgb(254,198, 76);}
button.green{background-color: rgb(70, 208, 91);}
div#smallButtons {position:absolute;}

b#window_title {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 17px;
}

.window_lable{
    display:inline-block;
    width: 25%;
    margin:20px 7% 20px 0;
    text-align: right;
    font-size: 16px;
    animation:  input_enter 1.5s;
}

input{
    background-color: var(--color_background);
    display: inline-block;
    width: 40%;
    height: 41px;
    margin: 20px 5px;
    outline-style: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 7px 0px;
    transition:all .2s ease;
    animation: input_enter 1.5s;
}

input:hover{
    box-shadow: rgba(136, 165, 191, 0.48) 0px 3px 13px 0px;
    transition:all .2s ease;
}

.floatButton {
    background: var(--color_main);
    position: absolute;
    align-items: center;
    border: 0 solid #E2E8F0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px 0px;
    color: #1A202C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    animation: input_enter 2s;

}


p {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 15px;
    animation: input_enter 2.5s;

}
a{color:var(--color_main);}


@keyframes window_enter{
    0% {transform: translate(300%,0);}
}

@keyframes input_enter{
    0% {visibility:hidden;margin: 0;}
    50%{transform: translate(0,1000px);}
    51%{visibility:"visible" ;}
}

